<!DOCTYPE html>
<html>
<head>
    <title>SSH Web Interface</title>
</head>
<body>
    <form action="/execute_ssh_command" method="post">
        <label for="command">Select Command:</label>
        <select id="command" name="command">
            <option value="free">Command free</option>
            <option value="lscpu">Command lscpu</option>
            <option value="cat /proc/meminfo">Command meminfo</option>
            <option value="stress">Command stress</option>
            <!-- Agrega más opciones de comandos aquí si es necesario -->
        </select>
        <br>
        <label for="parameters">Enter Parameters:</label>
        <input type="text" id="parameters" name="parameters">
        <button type="submit">Execute Command</button>
    </form>

    <pre id="output"></pre>

    <script>
        document.querySelector("form").addEventListener("submit", function(event) {
            event.preventDefault();
    
            const selectedCommand = document.getElementById("command").value;
            const parameters = document.getElementById("parameters").value;
    
            const formData = new FormData();
            formData.append("command", selectedCommand);
            formData.append("parameters", parameters);
    
            fetch("/execute_ssh_command", {
                method: "POST",
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById("output").textContent = data;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
    
</body>
</html>
